<!-- Neat design expected to show one single content item. To be used as partial from elsewhere -->
<td><%= content.id %></td>
<td><%= content.data %></td>
<!-- render(:template => "contents/_manage.html.erb") here? Buttons to reply, edit and delete with common design for all. -->
