<!-- Neat design expected to show one single content item. To be used as partial from elsewhere -->
<section class="content">
  <p><%= link_to text_content.description, text_content %></p>
</section>  