/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li.manage {
  float: left;
}

section {
  clear:left;
  margin :1em;
}